# Config
profile
profile.yaml
cookies
cookies.txt

# CDM
pywidevine
device_cert
device_client_id_blob
device_private_key

# Extensions
*.mkv
*.mp4
*.srt
*.vtt
*.ttml
*.xml
*.exe
*.dll
*.crt
*.wvd
*.der
*.pem
*.bin
*.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Text Editor / IDE
.idea
*.iml
.vscode
*.sublime-*
*.code-workspace

# misc
__pycache__
downloads
tmp
temp
