# CDM
# pywidevine/L3/cdm/devices/android_generic/device_cert
# pywidevine/L3/cdm/devices/android_generic/device_client_id_blob
# pywidevine/L3/cdm/devices/android_generic/device_private_key
android_generic/

# Extensions
*.mkv
*.mp4
*.srt
*.vtt
*.exe
*.dll
*.crt
*.wvd
*.der
*.pem
*.bin
*.db

# venv
.env
.venv
env/
venv/

# vscode
*.code-workspace

# misc
__pycache__
downloads
tmp
temp
